<h2>SignUp</h2>

<p>Go on <a href="/">main</a> page</p>

<div class="row">
    <form class="col s12" action="/signup" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Your email" id="email" type="email" class="validate" name="email" required>
          <label for="email">Your email</label>
          <span class="helper-text" data-error="wrong"></span>
        </div>
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" name="password" required>
          <label for="password">Your password</label>
          <span class="helper-text" data-error="wrong"></span>
        </div>
        <div class="input-field col s6">
          <input id="firstName" type="text" class="validate" name="firstName" required>
          <label for="firstName">Your first name</label>
          <span class="helper-text" data-error="wrong"></span>
        </div>
        <div class="input-field col s6">
          <input id="lastName" type="text" class="validate" name="lastName" required>
          <label for="lastName">Your last name</label>
          <span class="helper-text" data-error="wrong"></span>
        </div>
      </div>
      <button class="btn">Sign up</button>
    </form>
</div>