<h2>SignIn</h2>

<p>Go on <a href="/">main</a> page</p>

<div class="row">
    <form class="col s12" action="/signin" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Your email" id="email" type="email" name="email" class="validate" required>
          <label for="email">Your email</label>
          <span class="helper-text" data-error="wrong"></span>
        </div>
        <div class="input-field col s6">
          <input id="password" type="password" name="password" class="validate" required>
          <label for="password">Your password</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>
      <button class="btn">Sign In</button>
    </form>
</div>