<h2>User page</h2>
<p>Nice to meet you!</p>

<a href="/">Log out</a>


<h5>Here you can see all users!</h5>
{{#each users}}
    <h6><strong>User name: {{firstName}}, {{lastName}}</strong></h6>
    <p>Email: {{email}}</p>
    <hr />
{{/each}}